PyYAML==6.0.1
SQLAlchemy==2.0.22
requests==2.31.0
numpy==1.24.4
pandas==2.0.3
Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Jinja2==3.1.2
geopy==2.4.0
records==0.5.3
click==8.1.7
flask_googlemaps==0.2.4
detect_delimiter==0.1.1
jinja2schema==0.1.4
plotly==5.17.0
pydantic==2.4.2
python-dotenv==1.0.0